@import "tailwindcss";

/* Signup Form */
@theme inline {
  --shadow-input:
    0px 2px 3px -1px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);

    --color-background: #0a0a0a;

}

/* Loading Spinner */
@layer utilities {
  @keyframes dot-3-move {
    20% { transform: scale(1); }
    45% { transform: translateY(-18px) scale(0.45); }
    60% { transform: translateY(-90px) scale(0.45); }
    80% { transform: translateY(-90px) scale(0.45); }
    100% { transform: translateY(0px) scale(1); }
  }

  @keyframes dot-2-move {
    20% { transform: scale(1); }
    45% { transform: translate(-16px, 12px) scale(0.45); }
    60% { transform: translate(-80px, 60px) scale(0.45); }
    80% { transform: translate(-80px, 60px) scale(0.45); }
    100% { transform: translateY(0px) scale(1); }
  }

  @keyframes dot-1-move {
    20% { transform: scale(1); }
    45% { transform: translate(16px, 12px) scale(0.45); }
    60% { transform: translate(80px, 60px) scale(0.45); }
    80% { transform: translate(80px, 60px) scale(0.45); }
    100% { transform: translateY(0px) scale(1); }
  }

  @keyframes rotate-move {
    55% { transform: translate(-50%, -50%) rotate(0deg); }
    80% { transform: translate(-50%, -50%) rotate(360deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
  }

  @keyframes index {
    0%, 100% { z-index: 3; }
    33.3% { z-index: 2; }
    66.6% { z-index: 1; }
  }

  .animate-dot-3 {
    animation: dot-3-move 2s ease infinite, index 6s ease infinite;
  }

  .animate-dot-2 {
    animation: dot-2-move 2s ease infinite, index 6s -4s ease infinite;
  }

  .animate-dot-1 {
    animation: dot-1-move 2s ease infinite, index 6s -2s ease infinite;
  }

  .animate-rotate {
    animation: rotate-move 2s ease-in-out infinite;
  }
}